.movies-list__items {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 38px;
  list-style: none;
  padding: 70px 0 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 1160px) {
  .movies-list__items {
    max-width: 850px;
    grid-template-columns: repeat(3, 270px);
    column-gap: 30px;
  }
}

@media screen and (max-width: 910px) {
  .movies-list__items {
    max-width: 708px;
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
  }
}

@media screen and (max-width: 728px) {
  .movies-list__items {
    max-width: 300px;
    grid-template-columns: repeat(1, 300px);
    row-gap: 34px;
  }
}