.header {
  min-height: 74px;
  max-width: 1280px;
  padding: 0 70px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_dark {
  background-color: rgba(7, 48, 66, 1);
}

.header__info {
  display: flex;
  align-items: baseline;
}

.header__register {
  color: rgba(255, 255, 255, 1);
  text-align: right;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__login {
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: rgba(43, 224, 128, 1);
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 0 14px;
  }
}