.more-movies {
  background-color: rgba(249, 249, 249, 1);
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  margin: 50px auto 80px auto;

  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 728px) {
  .more-movies {
    width: 240px;
  }
}